@import "~normalize.css";
@import "_variables";
@import "modules/hello.scss";
@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
}

body {
  background: $mywhite;
  color: $myblack;
  min-height: 100%;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  margin: 20px 0px 0 60px;
  z-index: 2020;
}
.navigation {
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: 2;
  &__link {
  color: $mywhite;
  text-decoration: none;
  margin-right: 50px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  
}}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
&__image {
  width: 100%;
  position: relative;
&--second {
  margin: 69px 0 69px 0;
}}}

.main-title {
    position: absolute;
    top: 100px;
    z-index: 2;
    font-family: 'Miss Fajardose', cursive;
    color: $mybrown;
    font-size: 200px;
    font-weight: lighter;
    margin: 0;
&__sub {
  z-index: 1;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  color: $mywhite;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  top: 315px;
  margin-left: 40px;
}}

.main {
  display: flex;
}

.button {
  background-color: transparent;
  border: none;
  position: relative;
  top: -70px;
}

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
&__text {
  font-family:'Quicksand', sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin: 16px;
  font-weight: 300;
}
}

.about-us__photo {
  display: block;  
  max-width:643px;
  max-height:421px;
  width: auto;
  height: auto;
}
.title {
  font-family: 'Miss Fajardose', cursive;
  color: $mybrown;
  font-size: 120px;
  font-weight: lighter;
  margin:-7px;
&__sub {
font-family: 'Quicksand', sans-serif;
font-size: 40px;
color: $myblack;
font-weight: 700;
letter-spacing: 0.15em;
text-transform: uppercase;
justify-content: end;
align-items: flex-end;
margin-left: 90px;
margin-bottom: 50px;
}}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
}

.link {
text-decoration: none;
}

.title__center {
display: flex;
justify-content: center;
align-content: center;
margin: 30px 0 16px 0;
background-color: $mywhite;
}

.map {
position: absolute;
z-index: 5;
margin-left: 30px;
}

.footer {
  background-color: $myblack;
  width: 100%;
  height: 100%;
}
.footer__title {
color: $mywhite;
font-family: Quicksand;
font-weight: 700;
font-size: 50px;
line-height: 62px;
letter-spacing: 0.15em;
text-transform: uppercase;
&--details{
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
text-transform: unset;
text-align: center;
}}

.bigger {
  font-size: 36px;
  padding-bottom: 30px;
}