@import "~normalize.css";
@import "_variables";
@import "modules/hello.scss";
@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
}

body {
  background: $mywhite;
  color: $myblack;
  min-height: 100%;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  margin: 20px 0px 0 60px;
  z-index: 2;
}
.navigation {
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: 2;
  &__link {
  color: $mywhite;
  text-decoration: none;
  margin-right: 50px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  
}}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
&__image {
  width: 100%;
  position: relative;

}}

.title {
    position: absolute;
    top: 100px;
    z-index: 2;
    font-family: 'Miss Fajardose', cursive;
    color: $mybrown;
    font-size: 150px;
    font-weight: 400;
    margin: 0;
&__sub {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  color: $mywhite;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  top: 230px;
}}

.button {
  background-color: transparent;
  border: none;
  position: relative;
  
}
